<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Profile card</title>
</head>
<body>
    <nav>
        <figure>
            <img class="logo" src="assets/fundawonen-logo.svg" alt="">
        </figure>
        <ul>
            <li><a href="">Kopen</a></li>
            <li><a href="">Huren</a></li>
            <li><a href="">Verkopen</a></li>
        </ul>
        <ul class="personal">
            <li><a href="">Mijn Huis</a></li>
            <li><a href="">Inloggen</a></li>  
        </ul>
    </nav>