/****************************************************************
                                                                *
                            MAIN STYLING                        *                        
                                                                *
*****************************************************************/
:root {
  --color-main-text: #1B1B1B;
  --main-bg-color: #FFFFFF;
  --secondary-bg-color: #F7A100;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/****************************************************************
                                                                *
                          Head.EJS Navbar                       *                        
                                                                *
*****************************************************************/

/* mobile */
.logo {
  width: 15%;
}

label.hamburger {
  font-size: 25px;
 }



input[type="checkbox"], .hamburger {
  float: right;
}

input[type="checkbox"] {
  display: none;
}

.mobile {
  display: flex;
  flex-direction: column;
  display: none;
}

nav {
  padding: 0.5em;
  background-color: var(--secondary-bg-color);
}

ul {
  display: none;
  padding: 0.5em;
}

li {
  list-style-type: none;
  margin-bottom: 0.5em;
  text-align: center;
}

li a {
  text-decoration: none;
  color: var(--color-main-text);
}

li a:hover{
  background-color: #FFE2FF;
}

#toggle:checked ~ ul {
  display: block;
  padding-top: 30px;
}

/* tablet  */
@media (min-width: 30rem) {
    .logo {
      width: 10%;
    }

    input[type="checkbox"], label.hamburger {
      display: none;
    }

    nav {
      height: 3em;
    }

    .desktop {
      display: block;
      display: flex;
      flex-direction: row;
      gap: 1em;
    }
    
    li a:hover{
      background-color: #FFE2FF;
    }
}

/****************************************************************
                                                                *
                          Index.EJS Cards                       *                        
                                                                *
*****************************************************************/

main {
  margin: 2em;

  & h1 {
    text-align: center;
  }  
}


.container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 16px;
  justify-content: center;
  text-align: center;

  & .house-card{
    width: 100%;
    height: 40%;
  }

  .card-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    background-color: transparent;
  }

  & article {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    font-size: 0.8em;
    padding: 1em;
  }

  & ul > a {
    text-decoration: none;
    color: var(--color-main-text);
  }

  & ul > a:hover {
    color: white;
  }

  & article > ul,li{
    display: block;
    padding: 3px;
  }
}

.card-favorites {
  position: relative;
  border: solid 0.1em black;
  height: auto;
  width: auto;
  background-color: var(--secondary-bg-color);
}

/****************************************************************
                                                                *
                        Index.EJS Ratings                       *                        
                                                                *
*****************************************************************/

form {
  height: 0.5em auto;

& input[type="radio"] {
    display: none;
  }

& label {
    font-size: 45px;
    color: var(--color-main-text);
    cursor: pointer;
  }

& .rating-stars {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

& label:hover,
  label:hover ~ label {
  color: #FFE2FF;
}

& input[type="radio"]:checked ~ label {
  color: #FFE2FF;
}
}

/* Style for deselected radio buttons */
input[type="radio"]:checked:not(:hover) {
  display: none; 
}

/* Style for deselected radio button labels */
input[type="radio"]:checked:not(:hover) + label {
  color: #FFE2FF; 
}

/****************************************************************
                                                                *
                        HUIS.EJS CAROUSEL                       *                        
                                                                *
*****************************************************************/
.carousel {
  width: 100%;
  height: 166px;
}

.card-container {
  width: 100%;
  display: flex;
  width: calc(100% - 16px);
  margin: 8px;
  flex: 0 0 calc(100% - 16px);
}

.card {
  min-width: 250px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-main-text);
  border-radius: 8px;
}

.card:hover {
  background: var(--secondary-bg-color);
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card-container {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  gap: 8px;
}

.card {
  scroll-snap-align: start;
}

/****************************************************************
                                                                *
                          HUIS.EJS TEKST                        *                        
                                                                *
*****************************************************************/
.detail {
  border-top: solid 0.2em var(--color-main-text);
  margin-top: 5em;
  padding-top: 2em;
}

.detail > ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1em;
  gap: 1em;
}

.description-line {
  border-top: solid 0.2em var(--secondary-bg-color);
  margin-top: 1em;
  padding-top: 1em;
  width: 100%;
  text-align: center;
}

.description {
  font-size: 1em;
  line-height: 1.5;
}

.agent {
  border: solid 0.2em var(--color-main-text);
  padding: 5em;
  text-align: center;
  background: var(--secondary-bg-color);
  
  & p {
    padding-bottom: 1em;
  }
}




